@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}

.check-icon {
  content: "";
  margin-right: 6px;
  position: relative;
  border: solid 1px rgba(156, 163, 175, 0.6);
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: 1px;
}

.check-icon::before {
  content: "";
  left: 6px;
  top: -5px;
  width: 8px;
  height: 15px;
  border: solid #ba0b7c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  z-index: 3;
}
